.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f2d4;
}

.title {
  color: #fddc22;
  font-size: 60px;
  text-shadow: 0 1px 0px #0b08bd, 1px 0 0px #3b3ee0, 1px 2px 1px #0b08bd,
    2px 1px 1px #3b3ee0, 2px 3px 2px #0b08bd, 3px 2px 2px #3b3ee0,
    3px 4px 2px #0b08bd, 4px 3px 3px #3b3ee0, 4px 5px 3px #0b08bd,
    5px 4px 2px #3b3ee0, 5px 6px 2px #0b08bd, 6px 5px 2px #3b3ee0,
    6px 7px 1px #0b08bd, 7px 6px 1px #3b3ee0, 7px 8px 0px #0b08bd,
    8px 7px 0px #3b3ee0;
}

.subtitle {
  color: #091d34;
}

.pokemon-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 20rem;
}
